{{#if banner}}
  <div {{bind-attr class="banner.type :banner"}}>
    {{banner.message}}
  </div>
{{/if}}

{{outlet}}

<div class="open-settings-surface">
  <a href="#" class="open-settings" {{action 'openSettings'}}>
    <i class="fa fa-cog"></i>
  </a>
</div>

{{#if settingsOpen}}
  {{render 'settings'}}
{{/if}}
