<div class="open-settings-surface">
  <a href="#" class="open-settings" {{action 'openSettings'}}>
    <i class="fa fa-cog"></i>
  </a>
</div>

<form class="settings" {{action 'saveSettings' on="submit"}}>
  <fieldset class="project-picker">
    <label>Project:</label>
    {{single-select items=projects currentItemId=currentProjectId onSelect="didSelectProject"}}
  </fieldset>

  <fieldset>
    <label for="in-progress-max">Max. stories in progress before warning:</label>
    {{input value=inProgressMax for="in-progress-max" type="number" min="0"}}
  </fieldset>

  <fieldset>
    <label for="base-font-size">Base font size:</label>
    {{input value=baseFontSize for="base-font-size" type="number" min="10"}}
    <span class="suffix">px</span>
  </fieldset>

  <fieldset>
    <label for="show-accepted-type">Limit accepted stories by</label>
    {{view Ember.Select content=showAcceptedTypes value=showAcceptedType for="show-accepted-type"}}
  </fieldset>

  <fieldset>
    <label for="show-accepted-value">{{showAcceptedPrefix}}</label>
    {{input value=showAcceptedValue for="show-accepted-value" type="number" min="0"}}
    <span class="suffix">{{showAcceptedSuffix}}</span>
  </fieldset>

  <button type="submit">Save</button>
</form>
